:root {
  --social-padding: 0.5rem;
  --social-dimension: 36px;
  --social-dimension--scale: 42px;
  --social-color: var(--alto);
  --social-color--footer: var(--white);
}

.social {
  display: flex;
  justify-content: center;
}

.social.social-center {
  justify-content: center;
}

.social-item {
  margin: 0 0.2rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.social-icon {
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

svg.social-icon {
  fill: var(--social-color);

  width: var(--social-dimension);
  height: var(--social-dimension);
}

.footer svg.social-icon {
  fill: var(--social-color--footer);
}

.social-icon:hover,
.footer svg.social-icon:hover {
  fill: var(--curious-blue);
}

.social-vertical .social-item {
  margin: 0 0.2rem;
	padding: 0.2rem 0;
	display: block;
}

.social-float {
	display: flex;
  flex-direction: column;
  width: var(--social-dimension);
  position: fixed;
  right: 7px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;

  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -ms-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

@media (min-width: 768px) {
	.social-float {
		left: 30px;
	}

  .social-start {
    justify-content: start;
  }
}

.social-float.hide {
	opacity: 0;
}