:root {
  --social-padding: 0.5rem;
  --social-dimension: 42px;
  --social-dimension--scale: 46px;
  --social-color: #75880d;
}

.social {
  display: flex;
  justify-content: center;
}

.social-item {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.social-icon {
  transition: transform var(--duration);
  will-change: transform;
}

svg.social-icon {
  fill: var(--social-color);

  width: var(--social-dimension);
  height: var(--social-dimension);
}

.social-vertical .social-item {
	padding: 0.2rem 0;
	display: block;
}

.social-float {
	display: block;
  position: fixed;
  right: 7px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;

  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -ms-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

@media (min-width: 768px) {
	.social-float {
		left: 30px;
	}
}

.social-float.hide {
	opacity: 0;
}