.sign-form input.form-control {
	outline: 0;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	height: auto;
}

.sign-form input.form-control:focus,
.sign-form input.form-control:active {
	box-shadow: none !important;
	outline: 0 !important;
	-webkit-appearance: none;
}

.sign-form .form-group {
	position: relative;
}

.sign-form .form-group label.input-label {
	position: absolute;
	color: var(--curious-blue);
	right: 5%;
	top: 50%;
	margin: 0;
	transform: translate(0, -50%);
}

.sign-form .form-group.hide,
.sign-form .form-group label.hide {
	display: none;
}