mixin sign-form
	.row
		.sign-form.offset-lg-2.col-lg-8.offset-md-1.col-md-10.col-10.offset-1
			form#conax-sign
				.form-group
					label(for="sign-email").input-label.hide Required *
					input(type="email" name="email" placeholder="Email")#sign-email.conax-sign-input.form-control
				.form-group
					label(for="sign-name").input-label.hide Required *
					input(type="text" name="name" placeholder="Name")#sign-name.conax-sign-input.form-control
				#sign-alert.form-group.mb-n1.text-center.hide
					label(for="sign-email").text-curious-blue Provide valid email address
				.form-group.pt-2.text-center
					button#conax-sign-submit.c-btn.c-btn-lg.c-btn-round.c-btn-animated Sign up
	.row
		.col-md-10.offset-md-1.offset-sm-0.col-sm-12
			p.text-center.text-curious-blue.my-2 By signing up you indicate that you have read and agree to ConAx Terms of Use and Privacy Policy