mixin sign-form
	.row
		.sign-form.offset-lg-2.col-lg-8.offset-md-1.col-md-10.col-10.offset-1
			form#conax-sign
				.form-group
					label(for="sign-email").input-label.hide Required *
					input(type="email" name="email" placeholder="Email")#sign-email.conax-sign-input.form-control
				#sign-alert.form-group.mb-n1.text-center.hide
					label(for="sign-email").text-curious-blue Provide valid email address
				.form-group.pt-2.text-center
					button#conax-sign-submit.c-btn.c-btn-lg.c-btn-round Request Demo ConAx