@media (min-height: 600px), (min-width: 768px) {
  .screen,
  .screen > .container {
    min-height: 100vh;
  }
}

.screen {
  position: relative;
}

.screen-border--bottom {
  border-bottom: 2px solid var(--silver);
}

.screen-border--top {
  border-top: 2px solid var(--silver);
}

.slide-index-item {
	color: var(--rolling-stone);
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.scroll-to-top-action {
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: var(--curious-blue);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center 5px;
  cursor: pointer;
  opacity: 1;

  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -ms-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.scroll-to-top-action > svg {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 6px;
	left: 8px;
	fill: var(--white);
}

.scroll-to-top-action.hide {
  opacity: 0;
}

@media (min-width: 768px) {
  .scroll-to-top-action {
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-position: center 8px;
  }

  .scroll-to-top-action > svg {
		width: 32px;
		height: 32px;
		top: 7px;
		left: 9px;
	}
}