:root {
  --c-btn-padding-y: 0.7rem;
  --c-btn-padding-x: 0.5rem;

  --c-btn-round-padding-x: 1.5rem;

  --c-btn-lg-padding-y: 1rem;
  --c-btn-lg-padding-x: 0.9rem;
}

.c-btn {
  display: inline-block;
  padding: var(--c-btn-padding-y) var(--c-btn-padding-x);
  border: none;
  line-height: 1;
  font-weight: 700;
  font-family: var(--font-primary);
  color: var(--white);
  background-color: var(--curious-blue);
  transition: background-color var(--duration);
  will-change: background-color;
  cursor: pointer;
  outline: 0 !important;
}

.c-btn.c-btn-lg {
  padding: var(--c-btn-lg-padding-y) var(--c-btn-lg-padding-x);
  font-size: 1rem;
}

.c-btn.c-btn-round {
  padding-left: var(--c-btn-round-padding-x);
  padding-right: var(--c-btn-round-padding-x);
  border-radius: 2rem;
}

.c-btn.c-btn-animated {
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.c-btn:hover {
  background-color: color-mod(var(--curious-blue) l(+10%));
}

.c-btn:active {
  background-color: color-mod(var(--curious-blue) l(-5%));
  transition: none;
}

.c-btn.c-btn-animated:hover {
  color: var(--curious-blue);
  background-color: var(--white);
}

a.c-btn:hover {
  text-decoration: none;
  color: var(--white);
}

.c-btn.c-btn-inverse {
  background-color: var(--white);
  color: var(--curious-blue);
}

.c-btn.c-btn-inverse:hover {
  color: var(--conax-blue) !important;
  background-color: var(--white);
}
