.nav-panel {
	height: auto;
	width: 100%;
	background-color: var(--conax-blue);
	opacity: 1;

  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav-panel--fixed,
.nav-panel--float {
	position: fixed;
	top: 0;
	z-index: 1;
}

.nav-panel.hide {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.nav-panel .c-btn {
	padding: 0.7rem 0.9rem;
}

@media (min-width: 768px) {
	.nav-panel .c-btn {
		padding: var(--c-btn-padding-y) var(--c-btn-round-padding-x);
	}
}
