[class^="bgi-"] { background-repeat: repeat; }
.bgi-prism { background-image: url("images/bg-prism.png"); }
.bgi-wool { background-image: url("images/bg-wool.png"); }

.bg-silver { background-color: var(--silver); }
.bg-gallery { background-color: var(--gallery); }
.bg-air { background-color: var(--air); }
.bg-gray-1 { background-color: var(--gray-1); }