.font-300 { font-weight: 300; }
.font-400 { font-weight: 400; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }

.text-white { color: var(--white); }
.text-silver { color: var(--silver); }
.text-gray { color: var(--gray); }
.text-curious-blue { color: var(--curious-blue); }
.text-conax-blue { color: var(--conax-blue); }

.text-sm-center { text-align: center; }
.text-sm-right { text-align: right; }

.p-l { font-size: 1.15rem; }

.c-h1 { font-size: 1.9rem; }
.c-h2 { font-size: 1.2rem; }

@media (min-width: 769px) {
	.c-h1 {
		font-size: 2.6rem;
		line-height: 1.1;
	}
	.c-h2 {
		font-size: 1.8rem;
	}
}