.font-300 { font-weight: 300; }
.font-400 { font-weight: 400; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }

.text-white { color: var(--white); }
.text-silver { color: var(--silver); }
.text-curious-blue { color: var(--curious-blue); }

.text-sm-center { text-align: center; }
.text-sm-right { text-align: right; }