.footer-dark {
  background-color: #232a33;
  color: var(--gray-1);
}

.footer-dark .conax-logo svg {
  fill: #238fff;
}

.footer-wrapper {
  padding-top: 1.8rem;
  padding-bottom: 2rem;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.footer-col + .footer-col {
  margin-left: 7rem;
}

.footer-logo {
  margin-bottom: 1.1rem;
}

.footer-link {
  line-height: 1;
  font-weight: 600;
  text-decoration: none;
  color: var(--gray-1);
}

.footer-link + .footer-link {
  margin-top: 0.8rem;
}

.footer-copy {
  font-size: 0.85rem;
}