mixin footer
  footer.footer.footer-dark&attributes(attributes)
    .footer-wrapper
      .container.pt-3
        .row.align-items-start
          .col-md-4.col-sm-12.text-sm-center.text-md-left
            +logo({ type: "conax", width: 110 }).mx-sm-0.mx-auto
            p.footer-copy.my-2 Copyright © 2019 ConAx
          .col-md-5.col-sm-12
            .row
              .col-6
                div.text-sm-right.text-md-left
                  a(href="about.html").footer-link About ConAx
                div.text-sm-right.text-md-left
                  a(href="#").footer-link Privacy Policy
              .col-6
                div
                  a(href="#").footer-link Terms of Use
                div
                  a(href="#").footer-link Contact Us
          .col-md-3.col-sm-12
            p.text-sm-center.text-md-left.footer-link.mt-md-0.my-2.ml-md-2 Follow Us
            +social.social-start.social-sm-center
