.conax-logo svg {
	fill: var(--conax-blue);
}

.conax-logo.logo-white svg {
	fill: var(--white);
}

@media (min-width: 768px) {
	.conax-logo-float {
		position: absolute;
	}

	.conax-logo-float--t { top: 0; }
	.conax-logo-float--l { left: 0; }
}