@media (min-width: 768px) {
	.hero-card {
		display: flex;
	}

	.hero-card_item {
		width: 50%;
	}
}

@media (min-width: 769px) {
	.hero-card .conax-caption {
		font-size: 2.5rem;
	}
}

.hero-card {
	position: relative;
}

.hero-card .conax-caption {
	font-size: 1.9rem;
}

.hero-card_image img {
	display: block;
}

.hero-card_image--stretch img {
	width: 100%;
}