mixin about(params)
	+nav-panel({ page: "about" }).nav-panel--fixed
	.bg-gray-1.pt-5.mt-4
		.container.py-4.py-md-5
			h1.h2.font-700.text-conax-blue.mb-3.mb-md-4 About ConAx
			h3.h4.text-conax-blue.mb-3.mb-md-4 ConAx is a cloud-based communication platform for R&D open-source projects, implemented on data-driven science principles.
			p.p-l <span class="text-conax-blue">СonAx</span> mission is to make R&D and R&I processes more productive by providing interconnectivity space that accelerate tools/and activities of scientists, innovators and entrepreneurs toward Mission- oriented and Impact- focused solution through data-driven science expertise and data-driven innovation networking.
			p.p-l <span class="text-conax-blue">ConAx</span> goal is creating interconnectivity that accelerate discovering, routing and multi-modal data-driven science to lead successful R&D and R&I projects through integrated communication.
			p.p-l <span class="text-conax-blue">ConAx</span> features easier critical deployment-focused end-to-end processes such as project planning and design, evaluation and project development to lead successful R&D and R&I projects in dramatically less time.
			p.p-l <span class="text-conax-blue">ConAx</span> aims is Integration different levels of communication and data through the unification of your project and innovative content across collaboration tools and activities toward oneBox solution.
			p.p-l <span class="text-conax-blue">ConAx</span> solutions help Academia, Enterprise and Startups universalize and operationalize innovation tools and activities to increase interoperability between institutional levels, departments and research teams to save the administrative and organizational sources at 10x lower cost.
			h3.h4.text-conax-blue.mb-3 ConAx solutions vs Network communication complexity
			p.p-l Digital technologies landscape becomes more complicated with an increase of web services and tools grows, together with this our communicative field becomes more complicated, despite the task of facilitating our joint work, multiplicity of services and platforms reduce the impact our scientifically work and implementation of innovation.
			p.p-l <strong class="text-conax-blue">Actors.</strong> Academia, Enterprises, Startups and more
			p.p-l <span class="text-conax-blue">ConAx</span> unifies and optimizes the interrelationship between the three dimensions of our daily project activity. <span class="text-conax-blue">ConAx</span> creates a flexible space of communication between stakeholders various sectors.
			h3.h4.text-conax-blue.mb-3 Rethink our understanding of data infrastructures, data ownership and data flows
			p.p-l <span class="text-conax-blue">ConAx</span> seeks to analyse the potential and deal with the risks of data-driven innovation. Innovation processes, particularly in the area of information technologies, are mostly driven by data processing, which makes data an important resource in the digital society. Better access to data, information, education and knowledge, transparency and networks empower both citizens and private companies alike and offer opportunities to improve societal welfare in the digitized everyday life.
			p.p-l <strong class="text-conax-blue">Data.</strong> Production, collection, analysis, using and reproducibility
			p.p-l <span class="text-conax-blue">ConAx</span> improves the efficiency of our communication and the reproducibility of the information we produce. Thus your project strategy is both flexible and structured.
			h3.h4.text-conax-blue.mb-3 Search of optimal solutions to promote of Data-Driven Innovation and Improving productivity of Collaboration
			p.p-l <span class="text-conax-blue">ConAx</span> represent a seamless solution to optimization interconnectivity between three interrelated key points.
			p.p-l <strong class="text-conax-blue">Infrastruction.</strong> Сommunication, tooling, content manage and sharing
			p.p-l <span class="text-conax-blue">ConAx</span> offers an integrated infrastructure solution. Seamless technology will quickly provide us with tools for better collaboration, better data manipulation, reproduction and sharing.
			p.p-l <span class="text-conax-blue">ConAx Platform</span> makes easier communication and conversion into the project as a service for collaborative manage your content with no algorithmic feed.
			p.p-l <span class="text-conax-blue">ConAx Tool</span> promote agile project management to build common space for internal and third- party services. Customizes and tooling collected content with ConAx Tool to collaborative work.
			p.p-l <span class="text-conax-blue">Creative Networks</span> creates integrated inbox management. Networking structures your target space from your interests, requests, posts and other activities.
	+footer
	+social#social-float.social-float.social-vertical.hide
	+scrollToTop#scroll-to-top.hide