mixin collaboration(params)
	+nav-panel({ page: "collaboration" }).nav-panel--fixed
	.bg-gray-1.pt-5.mt-4
		.container.py-4.py-md-5
			h1.h2.text-conax-blue.text-uppercase.font-700 Networking on ConAx
			.d-flex.align-items-center
				.hero-card.align-items-center.flex-sm-row-reverse.py-4
					.hero-card_text.hero-card_item.px-0.pr-md-2.pl-md-4
						h4.h4.font-600.text-curious-blue.mb-4 Customizes collected content into Creative Networks and integrates with your tools landscape to collaborative work.
						p.mb-2 Maximum personalization of content in accordance with current requests, main focus areas and strategic interests.
						p.mb-4 Networking structure is a knowledge based community on the target areas of your mission, aims and tasks.
					.hero-card_image.hero-card_item.hero-card_image--stretch.px-2
						img(src="images/collaboration-picture-05.jpg").mx-auto.d-block.shadow-lg
	+footer
	+social#social-float.social-float.social-vertical.hide
	+scrollToTop#scroll-to-top.hide