mixin communication(params)
	+nav-panel({ page: "communication" }).nav-panel--fixed
	.bg-gray-1.pt-5.mt-4
		.container.py-4.py-md-5
			h1.h2.text-conax-blue.text-uppercase.font-700.mb-3.mb-md-4 Discover ConAx Channels
			p.p-l.mb-md-5 Your Channel on ConAx is a providing and promoting your scientific and innovation content, as well as others third-party services and open sources.
			.hero-card.align-items-center.flex-sm-row-reverse.my-4
				.hero-card_text.hero-card_item.px-md-5.py-3
					p.p-l Compile your content through flexible algorithm of decentralized platform.  Maximum personalization of content in accordance with current requests and strategic interests.
					p.p-l The algorithm generates and optimizes your content by simplifying the workflow in the tools of ConAx.
						br
						a(href="participation.html") See more ConAx Tool
						span.mx-1 and
						a(href="collaboration.html") Networking
				.hero-card_image.hero-card_item.hero-card_image--stretch
					img(src="images/communication-picture.jpg").mx-auto.d-block.shadow-lg
			p.p-l.my-md-5.my-4 Optimizes your content and activities from various social media, third party services and other open sources. Increases the conversion to published content in the network and the tools.
			.hero-card.align-items-center
				.hero-card_image.hero-card_item.hero-card_image--stretch.pr-md-3.mb-md-0.mb-3
					img(src="images/communication-picture-02.jpg").mx-auto.d-block.shadow-lg
				.hero-card_image.hero-card_item.hero-card_image--stretch.pl-md-3
					img(src="images/communication-picture-03.jpg").mx-auto.d-block.shadow-lg
			p.p-l.my-md-5.my-4 Integrate and connect your third- party services direc-lgtly to the ConAx channel. Unite all the research functions in one collaborative content channel. Directly to manage your channels, research groups, projects and workflows.
			.hero-card.align-items-center.mb-md-4
				.hero-card_image.hero-card_item.hero-card_image--stretch.pr-md-3.mb-md-0.mb-3
					img(src="images/communication-picture-04.jpg").mx-auto.d-block.shadow-lg
				.hero-card_image.hero-card_item.hero-card_image--stretch.pl-md-3
					img(src="images/communication-picture-05.jpg").mx-auto.d-block.shadow-lg
	+footer
	+social#social-float.social-float.social-vertical.hide
	+scrollToTop#scroll-to-top.hide