mixin communication(params)
	+nav-panel({ page: "communication" }).nav-panel--fixed
	.bg-gray-1.pt-5.mt-4
		.container.py-4.py-md-5
			h1.h2.text-conax-blue.text-uppercase.font-700 Communication on ConAx
			.d-flex.align-items-center
				.hero-card.align-items-center.flex-sm-row-reverse.py-4
					.hero-card_text.hero-card_item.px-0.px-md-2
						h4.h4.font-600.text-curious-blue.mb-4 Integrating different levels of R&D and R&I communication, the platform makes your cooperation enhanced.
						p.mb-2 Channels on ConAx is a providing and promoting your scientific knowledge and innovative content, as well as others third-party services and open sources.
						p.mb-4 Integrate and connect your third-party services directly to the ConAx channels. Unite all the research functions in one collaborative content channel. Directly to manageyour channels, research groups, project lifecycle and workflow.
					.hero-card_image.hero-card_item.hero-card_image--stretch.px-2
						img(src="images/communication-picture-06.png").mx-auto.d-block
	+footer
	+social#social-float.social-float.social-vertical.hide
	+scrollToTop#scroll-to-top.hide