mixin modal
	#conax-modal.modal.fade(tabindex="-1" role="dialog")&attributes(attributes)
		.modal-dialog.modal-lg
			.modal-content
				.modal-body
					button#modal-close.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					.p-md-5.p-3
						#conax-modal-1.conax-modal.hide
							h4.h3.font-600.text-curious-blue.mb-2 Distributed networked research stack up and share multimodal research, identify intersection points across research processes and integrates the best solution at the level of tools, activities and operational structures.
							p.h4.text-sm-center.text-md-left.font-700.mt-md-4.my-2
								span.mr-2(style="font-size: 2rem;") &rsaquo;
								| New skills require new strategies
							p.h5 Distributed networked research are customized and co-created, often leading to innovative knowledge transfer and exchange formats.
							p.h4.text-sm-center.text-md-left.font-700.mt-md-4.my-2
								span.mr-2(style="font-size: 2rem;") &rsaquo;
								| Tools promote new business-models
							p.h5 Tool for transformation and structural reconciliation of open research frameworks to create R&D and R&I projects.
							p.h4.text-sm-center.text-md-left.font-700.mt-md-4.my-2
								span.mr-2(style="font-size: 2rem;") &rsaquo;
								| Activities transform structure of cooperation
							p.h5 The “cooperation” group includes tools that facilitate distributed collaboration. Access and version control are the key features of these tools.
							p.h5 Operating groups have visibility, credibility and most importantly direct relevance to mission.
						#conax-modal-2.conax-modal.hide
							h4.h3.font-600.text-curious-blue.mb-2 Design tools for building learning environments and interoperability space that based on the distributed access and participating approach target to resolve the next opportunities:
							h4.h4.font-600.text-curious-blue.my-3 Openness and scaling up
							ul
								li.h5 The open knowledge pipeline aims to scale up research processes by creating collaborative tools for solving current problems
								li.h5 And make design of business models more appropriate and informed.
							h4.h4.font-600.text-curious-blue.my-3 Continuity knowledge and innovation
							ul
								li.h5 The solution to stack-share-and reproduction of multi-modal research data
								li.h5 And provide innovation process from end-to-end - that is to visualize the entire flow of how and from where an idea is generated (the source) all the way to deployment (how it gets into users’ hands).
							h4.h4.font-600.text-curious-blue.my-3 Operational research and innovation
							ul
								li.h5 Restructure of R&D and R&I processes to distributed networked research should increase flexibility of structuring skills-tools-activities
								li.h5 And operationalize across research lifecycles - design ideas, solution exploration/hypotheses testing and prototyping.
							.text-center.pt-4
								p.h4.text-curious-blue This tool focused on three solutions that redefining structure of R&D to connections science and innovations:
								.pt-3
									a(href="https://connectionaxis.github.io/conax/" target="_blank").c-btn.c-btn-lg.c-btn-round Discover solutions
						#conax-modal-3.conax-modal.hide
							h4.h3.font-600.text-curious-blue.mb-2 ConAx solutions easier critical deployment-focused end-to-end processes such as project planning and design, evaluation and project development to lead successful R&D and R&I projects in dramatically less time.
							h4.h4.font-600.text-curious-blue.my-3 Unification of tools and activities will provide interoperability between academia-enterprise- and startups.
							ul
								li.h5 Structural conversion of data-actors-infrastructure allows to implement one-stop solution for a range of research and development tools and activities.
								li.h5 Interoperability will provide interconnection between corporate and private actors, infrastructures and data sources from different research areas and industries.
							h4.h4.font-600.text-curious-blue.my-3 Operationalization of multimodal research data will promote End-to-End innovation pipeline process.
							ul
								li.h5 Distributed networked research creates new structure of collaborative and connections knowledge that go far beyond separate industries, sectors and disciplines.
								li.h5 Continuity knowledge trough merging versions of different respective actors ensure research transfer toward innovation.
							h4.h4.font-600.text-curious-blue.my-3 Scaling of research flow will based on cross-sectional distributed access and confluent frameworks.
							ul
								li.h5 The introduction of distributed open access tools to transform structure of networking will remove institutional intermediators.
								li.h5 Its hand more agency to the independent self-coordinated research networks and implements agile confluent framework across projects statement.
