mixin participation(params)
	+nav-panel({ page: "participation" }).nav-panel--fixed
	.bg-gray-1.pt-5.mt-4
		.container.py-4.py-md-5
			h1.h2.text-conax-blue.text-uppercase.font-700.mb-3.mb-md-4 ConAx toolkit functional
			.d-flex.align-items-center
				.hero-card.align-items-center.flex-sm-row-reverse.py-4
					.hero-card_text.hero-card_item.px-0.px-md-2
						h4.h4.font-600.text-curious-blue.mb-4 By ConAx customer functional turn your project into interoperability space.
						p.mb-2 Effectively determine the impact of your scientific and research networking through ConAx service solution.
						p.mb-2 Create, manage and get quick solutions across your project activities.
						p.mb-4 Optimize analytics and insights to drive R&D and R&I success.
					.hero-card_image.hero-card_item.hero-card_image--stretch.px-2
							img(src="images/participation-picture-05.png").mx-auto.d-block
	+footer
	+social#social-float.social-float.social-vertical.hide
	+scrollToTop#scroll-to-top.hide