mixin participation(params)
	+nav-panel({ page: "participation" }).nav-panel--fixed
	.bg-gray-1.pt-5.mt-4
		.container.py-4.py-md-5
			h1.h2.text-conax-blue.text-uppercase.font-700.mb-3.mb-md-4 Discover ConAx Tool
			.hero-card.align-items-center.flex-sm-row-reverse.my-4.mb-md-n5
				.hero-card_text.hero-card_item.px-md-5.py-3
					p.p-l ConAx Tool is your interconnective space for integrate content, communication and collaboration into the actual projects. Effectively determine the impact of your scientifically and research network activities through ConAx.
				.hero-card_image.hero-card_item.hero-card_image--stretch
					img(src="images/participation-picture.jpg").mx-auto.d-block.shadow-lg
			.hero-card.align-items-center.my-4.my-md-n5
				.hero-card_text.hero-card_item.px-md-5.py-3
					p.p-l Create, manage and get quick solutions across your project activities. Use the tools of recruitment and integration for your and third - open sources.
					p.p-l Flexible collaboration setting and tooling.
					p.p-l Allows you to integrate workflows at different levels.
				.hero-card_image.hero-card_item.hero-card_image--stretch
					img(src="images/participation-picture-03.jpg").mx-auto.d-block.shadow-lg
			.hero-card.align-items-center.flex-sm-row-reverse.my-4.mt-md-n5
				.hero-card_text.hero-card_item.px-md-5.py-3
					p.p-l Moderation and success.
					p.p-l Create, manage and get quick solutions across your project activities. Use the tools of recruitment and integration for your and third- open sources.
				.hero-card_image.hero-card_item.hero-card_image--stretch
					img(src="images/participation-picture-02.png").mx-auto.d-block
			.hero-card.align-items-center.my-4.mt-md-n5
				.hero-card_text.hero-card_item.px-md-5.py-3
					p.p-l Reporting and networking. Effectively determine the impact  vof your scientifically and research network activities through ConAx Tool.
				.hero-card_image.hero-card_item.hero-card_image--stretch
					img(src="images/participation-picture-04.png").mx-auto.d-block
	+footer
	+social#social-float.social-float.social-vertical.hide
	+scrollToTop#scroll-to-top.hide